__pycache__
.doit.db.*
notebooks
*.pdf
src/mesh/geo/*.geo
src/mesh/msh/*.msh
src/mesh/xml/*.xml
src/mesh/gmsh_out/*.txt
src/control.yaml
*.pvd
*.vtu
*.pkl
src/solutions/brainy-media_*
*.aux
*.log
latex.out