#Miscellaneous
__pycache__
.doit.db.*
notebooks

#Generated mesh files/subdirs
data/mesh/geo/*/
data/mesh/msh/*/
data/mesh/xml/*/
data/mesh/gmsh_out/*/

#FEM output
data/solutions/*/
*.pvd
*.vtu
*.pkl
*.pkl.gz

#Problem description output
*.aux
*.log
*.out
*.toc
*.pdf
*.bbl
*.bcf
*.blg
*.run.xml

#Post-processing
*.png