#Miscellaneous
__pycache__
.doit.db.*
notebooks

#Generated mesh files/subdirs
src/mesh/geo/*/
src/mesh/msh/*/
src/mesh/xml/*/
src/mesh/gmsh_out/*/

#FEM output
src/solutions/*/
*.pvd
*.vtu
*.pkl
*.pkl.gz

#Problem description output
*.aux
*.log
*.out
*.pdf
