{% extends "common.geo.jinja2" %}
{# parameter definitions section for body-centered geometry #}

{% block paramdefs %}
//Mesh density control
mcar={{ mscale }}*{{ mcar }};

//Geometric inputs
Lx={{ Lx }};
Ly={{ Ly }};

//Point ordinates
X1=0;
X2=Lx;
Y1=0;
Y2=Ly;

//Mesh metadata output
Printf("# Mesh metadata output") > meshmetafile;
Printf("X1: %f", X1) >> meshmetafile;
Printf("X2: %f", X2) >> meshmetafile;
Printf("Y1: %f", Y1) >> meshmetafile;
Printf("Y2: %f", Y2) >> meshmetafile;
Printf("Xmid: %f", Lx/2) >> meshmetafile;
Printf("Ymid: %f", Ly/2) >> meshmetafile;
{% endblock %}