{% extends "common.geo.jinja2" %}
{# parameter definitions section for body-centered geometry #}

{% block paramdefs %}
//Mesh density control
mcarl={{ mscale }}*{{ mcarl }};
mcarh={{ mscale }}*{{ mcarh }};

//Geometric inputs
Lx={{ Lx }};
Ly={{ Ly }};
alpha1={{ alpha1 }};

//Point ordinates
X1=0;
X2=Lx;
Y1=0;
Y2=(1-alpha1)*Ly;
Y3=Ly;

//Mesh metadata output
Printf("# Mesh metadata output") > meshmetafile;
Printf("X1: %f", X1) >> meshmetafile;
Printf("X2: %f", X2) >> meshmetafile;
Printf("Y1: %f", Y1) >> meshmetafile;
Printf("Y2: %f", Y2) >> meshmetafile;
Printf("Y3: %f", Y3) >> meshmetafile;
Printf("Xmid: %f", Lx/2) >> meshmetafile;
{% endblock %}