//Generate mesh for body-centered pore.
//usage:
//gmsh thisfile.geo -

//This is a jinja2 template
{# Required input variables:
    mcar = characteristic length for mesh refinement
    Lx = unit cell x-length
    Ly = unit cell y-length
    R = pore radius
    H = bulk distance above and below pore included in model
    tm = pore length
  No optional input variables.
  Use trim_blocks=True.
  #}

//Mesh density control
mcarh={{ mscale }}*{{ mcarh }};
mcarl={{ mscale }}*{{ mcarl }};

//Geometric inputs
Lx={{ Lx }};
Ly={{ Ly }};
R={{ R }};
H={{ H }};
tm={{ tm }};

//Point ordinates
X1=0;
X2=R;
X3=Lx-R;
X4=Lx;
Y1=0;
Y2=R;
Y3=Ly-R;
Y4=Ly;
Z1=0;
Z2=H;
Z3=H+tm;
Z4=2*H+tm;

//Points
{% for ptnum,meshvar in ptstrs.items() %}
p{{ ptnum }}=newp; Point(p{{ ptnum }})={X{{ ptnum[0] }},Y{{ ptnum[1] }},Z{{ ptnum[2] }},{{ meshvar }}};
{% endfor %}

//Lines
{% for lname, lptstr in lines.items() %}
{{ lname }}=newl; Line({{ lname }})={ {{- lptstr -}} };
{% endfor %}

//Circles
{% for cname, cptstr in circles.items() %}
{{ cname }}=newl; Circle({{ cname }})={ {{- cptstr -}} };
{% endfor %}

//Line Loops
{% for lpnum, lents in loops.items() %}
Line Loop({{ lpnum }})={ {{- lents -}} };
{% endfor %}

//Surfaces
{% for lpnum, stype in surftypes.items() %}
{{ stype }} Surface({{ lpnum }})={ {{- lpnum -}} };
{% endfor %}

//Surface Loops
Surface Loop(1)={ {{- looplist -}} };

//Volumes
Volume(1)={1};

//Mesh
Mesh 3;

//Save result
Save "{{ mshfile }}";

//Blank lines
//because gmsh gets confused without them





